@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    margin: 0;
    background: white;
    width: 100%;
}

p { 
    font-family: Roboto; 
    font-size: 30px;
    margin: 0px;
   }


   .bodyWrapper {
    width:100%;
    height: fit-content;
    position: absolute;
    display: flex;
}

.bodyObject {
    width: 50%;
    height: 300px;
    font-size: 30px;
    position: absolute;
}

.bodyObjectimg {
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.bodyObjectpadding {
    padding: 20px;
}

.buttonDecoration{
    width: 160px;
    height: 35px;
    background: lightgrey;
    border: none;
    cursor: pointer;
}
